 #menu{
	color: white;
	background-color: #f1c40f;
	border: none;
	width: 40px;
}
#bar{
	width:100%;
	
	background-color: #f1c40f;

}
.glyphicon {

	line-height: 3;

}
.dropdown-menu li a{

	width: 100%

}

#popup{
    position: fixed;
    width: 100%;
    height: 100%;
    margin: auto;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;

    display: none;

}

.badge{
	font-size: 40px;
	margin-top: 2%;
	background-color: rgba(207, 204, 204, 1);
}
#popup-container1{
    position: absolute;
    width: 90%;
    height: 90%;
    margin: auto;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    background-color: white;